<form class="field is-hidden" id="submitEl">
	<label for="score-input" class="score-label">Score</label>
	<div id="score" class="control">
		<input id="score-input" class="input" type="text" placeholder="Score" readonly>
	</div>
	<button type="submit" id="submitScore">Submit Score</button>
</form>
<form class="field is-hidden" id="playAgain">
	<p class="continue">Score has been submitted<br>
		Press Continue to play again</p>
	<button type="submit" id="continue">Continue</button>
</form>