<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/p5@1.5.0/lib/p5.js"></script>
    <title>Home</title>
</head>
<body>
<header >
    <nav class="navbar has-background-primary">
        <a class="navbar-item" href="/">Home</a>
        <a class="navbar-item" href="/leaderboard">Leaderboard</a>
        <a class="navbar-item" href="/games">Games</a>
        {{#if logged_in}}
            <a class="navbar-item navbar-end" id="logout" href="#">Logout</a>
        {{else}}
            <a class="navbar-item navbar-end" href="/login">Sign in</a>
        {{/if}}
    </nav>
</header>
<main>
    {{{ body }}}
</main>
{{#if logged_in}}
    <script src="/js/logout.js"></script>
{{/if}}
</body>
</html>