<div class="columns is-centered mt-6">
    <section class="column is-half container game-container ">
        <div class="card">
            <div class="card-header has-background-primary">
                <h2 class="card-header-title">{{game.name}}</h2>
            </div>
            <div class="card-content">

                <div id="gameCanvas"></div>

            </div>
        </div>

    </section>
    <section class="column is-one-third">
        <h2 class="title">Scores</h2>
        <ul>
            {{#each scores}}
                <li>{{this.score}}</li>
            {{/each}}
        </ul>
    </section>
</div>
<script src = "/js/games/snake.js"></script>
<script src = "/js/games/{{game.script}}"></script>

