<section aria-label="newest photo">
    <div class="carousel" data-carousel>
        <button class="next carousel-button" data-carousel-button="next">></button>
        <button class="prev carousel-button" data-carousel-button="prev"><</button>
        <ul data-slides>
            {{#each games as |game|}}
                <li class="slide" {{#eq @index 0}}data-active="true"{{/eq}}>
                    <a href="/game/{{game.id}}">
                        <button class="game carousel-button">Play</button>
                    </a>
                    <img src="images/{{game.hero_image}}" alt="{{game.name}} image">
                </li>
            {{/each}}
        </ul>
    </div>
</section>
<script src="/js/carousel.js"></script>




