<section class="container is-max-desktop">
    <div class="columns is-multiline is-centered">
        {{#each games as |game|}}
            <div class="column is-one-third">
                <a href="/game/{{game.id}}">
                    <article class="card">
                        <div class="card-header has-background-primary">
                            <h2 class="card-header-title">{{game.name}}</h2>
                        </div>
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="images/{{game.hero_image}}" alt="Placeholder image">
                            </figure>
                        </div>
                    </article>
                </a>
            </div>
        {{/each}}
    </div>
</section>