<div class="columns is-centered mt-6 is-max-desktop">
    <form id="login-form" class="column is-one-third">
        <h2 class="title block is-center">Login</h2>
        <div class="field">
            <label class="label" for="email-login">Email</label>
            <div class="control">
                <input class="input" id="email-login" type="email" placeholder="e.g. alexsmith@gmail.com">
            </div>
        </div>
        <div class="field">
            <label class="label" for="password-login">Password</label>
            <div class="control">
                <input class="input" id="password-login" type="password">
            </div>
        </div>
        <button type="submit" class="button">Login</button>
    </form>
    <form class="column is-one-quarter">
        <h2 class="title block is-center">Sign up</h2>
        <div class="field">
            <label class="label" for="email-signup">Email</label>
            <div class="control">
                <input class="input" id="email-signup" type="email" placeholder="e.g. alexsmith@gmail.com">
            </div>
        </div>
        <div class="field">
            <label class="label" for="password-signup">Password</label>
            <div class="control">
                <input class="input" id="password-signup" type="password">
            </div>
        </div>
    </form>
</div>

<script src="/js/login.js"></script>
