<div class="columns is-centered mt-6 is-max-desktop">
    <form id="login-form" class="column is-one-third">
        <h2 class="title">Login</h2>
        <div id="email-login-section" class="field">
            <label class="label" for="email-login">Email</label>
            <div class="control has-icons-left">
                <input class="input" id="email-login" type="email" placeholder="e.g. alexsmith@gmail.com">
                <span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label" for="password-login">Password</label>
            <div class="control">
                <input class="input" id="password-login" type="password">
            </div>
        </div>
        <button type="submit" class="button is-primary">Login</button>
        <a class="is-pulled-right" href="/signup">Don't have an account? Sign up here</a>
    </form>
</div>

<script src="/js/login.js"></script>
