<div class="columns is-centered mt-6 is-max-desktop">
	<form id="signup-form" class="column is-one-third">
		<h2 class="title">Sign up</h2>
		<div class="field">
			<label class="label" for="name-signup">Username</label>
			<div class="control has-icons-left">
				<input class="input" id="name-signup" type="text" placeholder="e.g. alexsmith">
				<span class="icon is-small is-left">
                    <i class="fa fa-user"></i>
                </span>
			</div>
		</div>
		<div id="email-signup-section" class="field">
			<label class="label" for="email-signup">Email</label>
			<div class="control has-icons-left">
				<input class="input" id="email-signup" type="email" placeholder="e.g. alexsmith@gmail.com">
				<span class="icon is-small is-left">
                    <i class="fa fa-envelope"></i>
                </span>
			</div>
		</div>
		<div id="password-signup-section" class="field">
			<label class="label" for="password-signup">Password</label>
			<div class="control">
				<input class="input" id="password-signup" type="password">
			</div>
		</div>
		<button type="submit" class="button is-primary">Sign up</button>
		<a class="is-pulled-right" href="/login">Already have an account? Log in here</a>
	</form>
</div>

<script src="/js/signup.js"></script>
