.container {
    display: grid;
    grid-template-columns: [col1-start] 50px [col1-end-col2-start] 800px [col2-end-col3-start] 20px [col3-end-col4-start] 300px;
    grid-template-rows: [row1-start] 60px [row1-end-row2-start] 600px ;
}

#canvas {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#scoreList {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

#gameHeader {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

#score {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}


