.game-container, .score-container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.content {
    display: inline-block;
}

.game-card:hover{
    border: 2px red inset;
}


